<h3>Create customer</h3>

<form [formGroup]="createCustomerForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="firstName">
      First name (*)
    </label>
    <input id="firstName" type="text" formControlName="firstName">
  </div>

  <div>
    <label for="lastName">
      Last name (*)
    </label>
    <input id="lastName" type="text" formControlName="lastName">
  </div>

  <div>
    <label for="gitHubUsername">
      GitHub Username (*)
    </label>
    <input id="gitHubUsername" type="text" formControlName="gitHubUsername">
  </div>

  <button class="button" type="submit">Submit</button>

</form>